<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Order</title>
    <link rel="icon" href="images/icecream.png" />
    <!-- <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/stylesheet.css" />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
    />
  </head>
  <body>
    <main>
      <h1>ADMIN</h1>

      <table id="order-table" class="display">
        <thead>
          <tr class="headStyle">
            <th>Name</th>
            <th>Email</th>
            <th>Toppings</th>
            <th>Size</th>
            <th>Comment</th>
            <th>Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order => { %>
          <tr>
            <td><%= order.name %></td>
            <td><%= order.email %></td>
            <td><%= order.flavor %></td>
            <td><%= order.cone %></td>
            <td><%= order.toppings %></td>
            <td><%= order.comments %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <a href="/">Place an Order</a>
  </body>
  <script defer>
    let table = new DataTable("#order-table");
  </script>
</html>
